* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #f5f7fa;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin: 0 0 20px 15px;
}

header {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

/* Header */
.logo{
    margin-bottom: 15px;
} 

.haupt-menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
}

.haupt-menu li {
    color: #000;
    border-right: 3px solid #fff;
}

.haupt-menu li:last-child {
    border-right: none;
}

.haupt-menu li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.haupttitel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.hauptcontainer {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}


section,
header {
    padding: 10px 15px 20px 15px;
}

.hauptnav {
    width: 100%;
}

/* Zitaten block*/
.zitat-block,
.aktivitaeten-block {
    background-color: #D9EEE1;
    padding: 20px;
    border-radius: 6px;
}

.zitat-inner-block {
    height: 150px;
}

.zitat {
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.zitat::before,
.zitat::after {
    content: '"';
}

/* für Profil und Aktivitäten */
.profil-block,
.hauptnav {
    background: #E7E9EB;
    padding: 20px;
    border-radius: 6px;
}

.label-block {
    display: block;
    margin-bottom: 20px;
}

.label-text {
    display: inline-block;
    width: 100px;
}

button {
    background: #3ec559;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #248132;
}

.liste {
    list-style: none;
    padding: 0;
}

.bmi-block{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
}
.loesch-btn {
    background-color: transparent;
    color: red;
    border-radius: 50%;
    padding: 10px;
}

.loesch-btn:hover {
    background-color: transparent;
    cursor: pointer;
}

canvas{
    background-color: white;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
}

/* für Aktivitäten Block */
.aktivitaeten-wahl{
    width: 173px;
}

.hinzufügen-button{
    background-color: transparent;

}
.hinzufügen-button:hover{
    cursor:pointer;
    background: transparent;
}

/* Scroll nach Oben Schaltfläche */
#scrollTopButton {
  display: none; /* wird erscheint mit JS*/
  position: fixed;
  bottom: 20px; 
  right:30px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background: rgba(255, 0, 0, 0.5); 
  color: white; 
  cursor: pointer; 
  padding: 12px 15px; 
  border-radius: 50%; 
  font-size: 18px; 
}

#scrollTopButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}